<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Doughnut Chart - Financial Year View</h1>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Select Year:</label>
        <select [(ngModel)]="selectedYear" class="form-control" (change)="onYearChange()">
          <option [ngValue]="null" disabled>Year</option>
          <option *ngFor="let year of years" [ngValue]="year">{{ year }}</option>
        </select>
      </div>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4 mt-3"></div>
    <div class="col-md-4 mt-3">
      <div *ngIf="salaryData[selectedYear]; else noData">
        <div class="chart-container">
          <canvas baseChart [data]="doughnutChartData" [type]="doughnutChartType" [options]="chartOptions"
            [plugins]="plugins">
          </canvas>
        </div>
      </div>

      <ng-template #noData>
        <h2 class="text-danger text-center">No data available for the selected year.</h2>
      </ng-template>

    </div>
    <div class="col-md-4 mt-3"></div>
    <div class="col-md-12 text-center mt-3">
      <div *ngIf="financialYearStart && financialYearEnd" class="financial-details">
        <p><strong>Financial Year Start:</strong> {{ financialYearStart }}</p>
        <p><strong>Financial Year End:</strong> {{ financialYearEnd }}</p>
      </div>
    </div>
  </div>
</div>